/*SETEAR NUESTROS ARCHIVOS: SEA IGUAL PARA TODOS LOS NAVEGADORES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*.... VISTA INDEX.HTML..*/
/* ESTILOS AL BODY*/
.height {
	height: 100vh;
}
.flex-container {
  display: flex;
	flex-direction:column;
  justify-content: center;
  align-items: center;
}
.color-fond {
  background: linear-gradient(rgb(62,176,96)60%, rgb(14,80,34));
}
/*ESTILOS A MAIN*/
img.img-splash {
  display:none;
}
/*.... VISTA PERFIL.HTML..*/
.background-color {
  background-color: rgb(62,176,96);
}
.container-nav {
  margin-left: 2rem;
}
.input-field .prefix.active {
     color: #fff;
}
.responsive-image {
  max-width: 100%;
  height: auto;
}
.div-image {
height: -webkit-fill-available;
}
.btn-fotos {
  margin-bottom: 1rem;
}
.height-portada{
  height: 25vh;
}
textarea.materialize-textarea {
  margin-bottom: 0px;;
}
.btn {
  font-size: 0.9rem;
}
.container-perfil-portada {
    position: relative;
}
.container-perfil-portada a {
    position: absolute;
    left:20px;
    display: none;
}
input[type=file] {
    position: absolute;
	visibility: hidden;
	width: 0;
	z-index: -9999;
}
.btn-subir-foto {
  margin:1rem;
}
#container-post .div-post, .posts, .gallery{
 margin-top: 1.5rem;
 padding: 1rem;
 border: 1px solid green;
 border-radius: 0.5rem;
}
.posts {
  padding-bottom: 0;
}
.responsive-image-post {
  height: 30vh;
}
/* SOLO PARA DESKTOP DE LA VISTA PERFIL*/
@media (min-width: 993px) {
 img.responsive-img {
   max-width: 100%;
   height: 10vh;
 }
 .responsive-image {
   max-width: 100%;
   height: 20vh;
 }
 .btn {
   font-size: 1.2rem;
 }
 .biografia {
   width: 50%;
   margin-top: 1rem;
 }
 .height-portada {
  height: 50vh;;
 }
 #container-post .div-post, .posts{
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid rgb(62,176,96);
  border-radius: 0.5rem;
 }
 .posts {
   padding-bottom: 0;
 }
 .responsive-image-post {
   height: 50vh;
 }
}
