/*SETEAR NUESTROS ARCHIVOS: SEA IGUAL PARA TODOS LOS NAVEGADORES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*.... VISTA INDEX.HTML..*/
/* ESTILOS AL BODY*/
.height {
	height: 100vh;
}
.flex-container {
  display: flex;
	flex-direction:column;
  justify-content: center;
  align-items: center;
}
.color-fond {
  background: linear-gradient(rgb(62,176,96)60%, rgb(14,80,34));
}
/*ESTILOS A MAIN*/
img.img-splash {
  display:none;
}
/*.... VISTA PERFIL.HTML..*/
.background-color {
  background-color: rgb(62,176,96);
}
.put {
  outline: 1px solid red;
}
.container-nav {
  margin-left: 2rem;
}
.input-field .prefix.active {
     color: #fff;
}
.container .row-portada {
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  height: 26vh;
  filter: opacity(60%);
  background-image: url('../assets/images/portada-vacia.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%
}
.div-image {
height: -webkit-fill-available;
}
.btn-fotos {
  margin-bottom: 1rem;
}
textarea.materialize-textarea {
  margin-bottom: 0px;;
}
.btn {
  font-size: 0.9rem;
}
