*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Estilos para body*/
body{
  font-family: 'Josefin Sans', sans-serif;
}
/*Estilos para la lista no ordenada de frases*/
#tips, #tips li{
	margin:0;
	padding:0;
	list-style:none;
	}
#tips{
  display: initial;
	width:250px;
	font-size:2.5em;
	line-height:120%;
	}
#tips li{
	padding:20px;
	display:none; /* Para mostrar solo un elemento de la lista */
  text-shadow: #99FFCC 0px 0px 10px;
  text-shadow: #99FFCC 0px 0px 10px 10px;
	}
  /*Clases reutilizables*/
.container-flex-column{
  height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}
.vh100 {
	height: 100vh;
}
.logo-header{
  width: 120px;
}
/*ESTILOS A VISTA PRINCIPAL*/
body.coming-letter{
  font-family: 'Coming Soon', cursive;
}
.overlay{
  position:fixed;
  background-size: cover;
  background-position: center center;
   background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
}


@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
.font-white{
  color: #FFF;
}
#principal .img-principal{
  width: 20rem;
}
.background-cosmic{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
}
/*ESTILOS PARA EL MODAL INICIAR SESION*/
#modal-sesion form.col.s12 div.input-field.col.s12 input{
  border-bottom: 1px solid #000;
}
#modal-sesion .input-field label {
  color: #000;
}
/* label focus color */
#modal-sesion .input-field.col.s12 input[type=text]:focus + label, .input-field.col.s12 input[type=email]:focus + label, .input-field.col.s12 input[type=password]:focus + label {
     color: #000;
   }
/* valid color */
  #modal-sesion .input-field.col.s12 input[type=text]:focus, .input-field.col.s12 input[type=email]:focus, .input-field.col.s12 input[type=password]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  #modal-sesion [type="radio"]:not(:checked)+label, [type="radio"]:checked+label, [type="checkbox"]+label{
    color: #000;
  }
a.btn-style-principal{
  border-radius: 10px;
}
a#login-google{
  margin-top: 30px;
}
.modal{
  max-height: 87%;
}
.img-modal-user{
  width: 10rem;
  margin-left: 16vw;
}
/*Clases para vista resgistro*/
header{
  position: fixed;
  width: 100%;
  z-index: 998;
}
/*Clases para el nav*/
nav.navbar-fixed{
  height: 75px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

#registro .row{
  margin-bottom: 0;
}
.container-registro{
  margin-top: 80px;
}
.margin-left{
  margin-left: 20px;
}
.margin-top{
  margin-top: 20px;
}
.margin-bottom{
  margin-bottom: 10px;
}
#registro form.col.s12 div.input-field.col.s12 input{
  border-bottom: 1px solid #FFF;
}
#registro .input-field label {
  color: #FFF;
}
/* label focus color */
#registro .input-field.col.s12 input[type=text]:focus + label, .input-field.col.s12 input[type=email]:focus + label, .input-field.col.s12 input[type=password]:focus + label {
     color: #FFF;
   }
/* valid color */
  #registro .input-field.col.s12 input[type=text]:focus, .input-field.col.s12 input[type=email]:focus, .input-field.col.s12 input[type=password]:focus {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
  }
  #registro [type="radio"]:not(:checked)+label, [type="radio"]:checked+label, [type="checkbox"]+label{
    color: #FFF;
  }
/*Estilos para vista Home*/
.padding-top-main{
  padding-top: 75px;
}
.margin-btm-0{
  margin-bottom: 0;
}
.margin-top-0{
  margin-top: 0;
}
.margin-right-0{
  margin-right: 0
}
.margin-left-0{
  margin-left: 0;
}
section{
  padding-top: 70px;
}
textarea.materialize-textarea{
  margin: 0;
}
div.card-action.card-action-padding{
  padding: 16px 10px;
}
img.responsive-img.imagen-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 2vh;
    display: inline-block;
}
.image-style{
  width: 120px;
  height: 100px;
}

i.large.heart{
  font-size: 20px;
  color: red;
}
.display-none{
  display: none;
}
.width-btn{
  width: 46%;
}
#home div.card.height-card-post{
  height: 28vh;
}
#home form div.btn.col.s3{
  font-size: 10px;
}
#home textarea.materialize-textarea:focus{
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
#home textarea.materialize-textarea:focus + label{
  color: #FFF;
}
#home div.margin-top-5vh{
  margin-top: 5vh;
}
 #home div.collapsible-header.padding-collapsible{
  padding: 1rem 0.4rem;
}

@media only screen and (min-width: 601px) {
.container {
    width: 90%;
}
}
@media (min-width: 768px) {
  /*Estilos para modal iniciar sesión*/
  .img-modal-user{
    margin-left: 30vw;
  }
  #registro form{
  font-size: 1.2rem;
  }
  #registro form.col.s12 div.input-field.col.s12 label{
  font-size: 1.2rem;
  }
  #registro form [type="checkbox"]+label, #registro form [type="radio"]:not(:checked)+label, #registro form [type="radio"]:checked+label{
    font-size: 1.2rem;
  }
  img.responsive-img.imagen-circle{
    margin-left: 1.5vw;
    width: 150px;
    height: 150px;
  }
  #home div.card.height-card-post {
    height: 18vh;
}
#home div.collapsible-header.padding-collapsible {
    padding: 1rem 4rem;
}
}
@media (min-width: 992px) {
  header nav ul a{
    font-size: 1.2rem;
  }
  /*Estilos para modal iniciar sesión*/
  .img-modal-user{
    margin-left: 20vw;
  }
  .container-registro .container{
    width: 90%;
  }
  #registro form{
  font-size: 1.2rem;
  }
  #registro form.col.s12 div.input-field.col.s12 label{
  font-size: 1.2rem;
  }
  #registro form [type="checkbox"]+label, #registro form [type="radio"]:not(:checked)+label, #registro form [type="radio"]:checked+label{
    font-size: 1.2rem;
  }
  #home div.card.horizonta.style-card{
    margin-top: 2vh;
  }
  img.responsive-img.imagen-circle{
    margin-left: 5vw;
  }
  #home div.card-content-user{
    padding: 15px;
  }
  header nav.nav-desktop{
    height: 79px;
  }
  #home div.card.style-card{
    margin-top: 2vh;
    border-radius: 15px;
  }
  #home div.card.height-card-post {
    height: 14vh;
}
#home div.margin-top-5vh{
  margin-top: 3.5vh;
}
}
@media (min-width: 1200px) {
  #registro form{
    font-size: 1rem;
  }
  #registro form.col.s12 div.input-field.col.s12 label{
  font-size: 1rem;
  }
  #registro form [type="checkbox"]+label, #registro form [type="radio"]:not(:checked)+label, #registro form [type="radio"]:checked+label{
    font-size: 1rem;
  }
  #registro .container-registro .container {
    width: 100%;
}
 #home .height-card-post {
    height: 35vh;
 }
 img.responsive-img.imagen-circle{
   margin-left: 8vw;
 }
 #home div.card.height-card-post {
    height: 28vh;
}
#home div.margin-top-5vh {
    margin-top: 8vh;
}
}
