/*SETEAR NUESTROS ARCHIVOS: SEA IGUAL PARA TODOS LOS NAVEGADORES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*.... VISTA INDEX.HTML..*/
/* ESTILOS AL BODY*/
.height {
	height: 100vh;
}
.flex-container {
  display: flex;
	flex-direction:column;
  justify-content: center;
  align-items: center;
}
.color-fond {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/*ESTILOS A MAIN*/
img.img-splash {
  display:none;
}
/*.... VISTA PERFIL.HTML..*/
header{
  position: fixed;
  width: 100%;
  z-index: 1200;
}
.logo-header{
  width: 4rem;
}
.inline-block{
display: inline-block;
}
figure.inline-block {
  margin: 0rem 1rem;
}
.padding-top-section{
  padding-top: 75px;
}
#perfil .tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a, .tabs .indicator {
    color: rgb(62,176,96) !important;
}
#perfil .tabs .indicator {
    background-color: rgb(62,176,96) !important;
}
/*Clases para el nav*/
nav.navbar-fixed{
  height: 75px;
  padding: 10px;
  background-color: rgba(62,176,96,0.3);
}
.green{
  background-color: rgb(62,176,96);
}
.background-cosmic{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
}
.background-color {
  background-color: rgb(62,176,96);
}
.input-field .prefix.active {
     color: #fff;
}
.translate{
  transform: translateY(-90%);
}
a.btn-style-principal{
  border-radius: 10px;
}
.circle-img{
  height: 120px !important;
  width: 120px !important;
  border: 5px solid rgb(62,176,96);
}
.btn-fotos {
  margin-bottom: 1rem;
}
.height-portada{
  height: 25vh;
  background-size: cover;
}
.btn {
  font-size: 0.9rem;
}
.container-perfil-portada {
    position: relative;
}
.2 a {
    position: absolute;
    left:20px;
    display: none;
}
.height-row{
  height: 20vh;
}
.height-10vh{
  height: 10vh;
}
.font-white{
  color: #FFF;
}
.absolute{
  position: absolute;
}
.margin-btm-0{
  margin-bottom: 0;
}
.button-save-photo{
  transform: translateY(220%);
  z-index: 998;
}
.button-save-photo-input{
  transform: translateY(-350%);
  z-index: 1000;
  margin-left: 15px;
}
input[type=file] {
	visibility: hidden;
	width: 0;
	z-index: -9999;
}
.btn-subir-foto {
  margin:1rem;
}
#container-post .div-post, .posts, .gallery{
 margin-top: 1.5rem;
 padding: 2rem;
}
.posts {
  padding-bottom: 0;
}
.responsive-image-post {
  height: 30vh;
}
div.input-field.col.s12.center-align.green{
  margin-top: 0;
}
.third-section{
  margin-top: 10vh;
}
@media (min-width: 768px) {
.circle-img {
  height: 180px !important;
  width: 180px !important;
}
.button-save-photo {
  transform: translateY(350%);
}
.height-portada{
  height: 45vh;
}
.translate{
  transform: translateY(-80%);
}
.name-user {
  padding-top: 4vh !important;
}
}
/* SOLO PARA DESKTOP DE LA VISTA PERFIL*/
@media (min-width: 992px) {
  .container{
    width: 90%;
  }
 #perfil img.responsive-img {
   max-width: 100%;
 }
 .name-user {
   padding-top: 0 !important;
 }
 .btn {
   font-size: 1.2rem;
 }
 .button-save-photo {
    transform: translateY(550%);
}
 .biografia {
   width: 50%;
   margin-top: 1rem;
 }
 .posts {
   padding-bottom: 0;
 }
 .responsive-image-post {
   height: 50vh;
 }
 .circle-img{
   width: 250px !important;
   height: 250px !important;
 }
 .name-user {
   padding-top: 4vh !important;
 }
}

@media (min-width: 1200px) {
  .height-portada{
    height: 55vh;
  }
  .third-section{
    margin-top: 40vh;
  }
}
