<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Serendipia - Home</title>
    <!--Añadiendo color a la barra de navegador que se verá desde versión movile-->
    <meta name="theme-color" content="#3eb060"/>
    <link rel="icon" type="image/png" href="../assets/images/infinity.png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../css/main-1.css">
  </head>
  <body class="vh100 background-cosmic">
    <header class="hide-on-med-and-up hide-on-med-only show-on-small show-on-medium">
      <nav class="navbar-fixed">
        <div class="nav-wrapper">
          <img class="responsive-img logo-header" src="../assets/images/logo.png" alt="Serendipia">
          <ul class="right">
            <li><a href="vistaPerfil.html"><i class="material-icons">account_circle</i></a></li>
            <li><a href="home.html"><i class="material-icons">home</i></a></li>
            <li><a href="#"><i class="material-icons">add_alert</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">more_vert</i></a></li>
          </ul>
        </div>
        <!--Lista desplegable para salir(cerrar sesión)-->
        <ul id="dropdown2" class="dropdown-content">
          <li><a href="registro.html">Salir</a></li>
        </ul>
      </nav>
    </header>
    <header class="show-on-large hide-on-small-only hide-on-med-and-down">
    <nav class="navbar-fixed nav-desktop">
      <div class="container-nav">
       <div class="row nav-wrapper">
         <div class="col l4 xl4">
           <a href=""><img src="../assets/images/logo.png" alt="logo" class="responsive-img logo-header"></a>
         </div>
         <div class="input-field col l4 xl4">
          <i class="material-icons prefix">search</i>
          <input class="input" id="search" type="text" class="validate" placeholder="   Buscar">
        </div>
      <ul class="right hide-on-med-and-down col l4 xl4">
        <li><a href="vistaPerfil.html"><i class="material-icons">account_circle</i></a></li>
        <li><a href="#!"><i class="material-icons">notifications</i></a></li>
        <li><a href="home.html"><i class="material-icons">home</i></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></li>
      </ul>
      <!--Lista desplegable para salir(cerrar sesión)-->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="registro.html">Salir</a></li>
      </ul>
       </div>
      </div>
    </nav>
  </header>
    <main id="home" class="padding-top-main">
      <div class="container"> <!--show-on-large hide-on-small-only hide-on-med-and-down-->
        <div class="row margin-btm-0">
          <div class="col s4 m4 l4">
            <div class="card">
              <div class="card-content">
                <div id="imagen-user">
                  <a href="vistaPerfil.html"><img src="https://i.pinimg.com/736x/0c/db/4f/0cdb4fe1bb54b149248e85a28698b229--girl-pics-my-girl.jpg" alt="" class="responsive-img imagen-circle"></a>
                  <div id="name-user">
                    <h6 class="center-align">Choi Ye Won</h6>
                  </div>
                </div>
              </div>
              <div class="card-action card-action-padding">
                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header padding-collapsible">Amistades</div>
                    <div class="collapsible-body"><span><i class="material-icons">textsms</i></span></div>
                    <div class="collapsible-body"><span><i class="material-icons">textsms</i></span></div>
                    <div class="collapsible-body"><span><i class="material-icons">textsms</i></span></div>
                    <div class="collapsible-body"><span><i class="material-icons">textsms</i></span></div>
                  </li>
                </ul>
            </div>
            </div>
          </div>
          <div class="col s8 m8 l8">
            <div class="card height-card-post">
              <div class="card-content">
                <div class="input-field margin-top">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">¿Qué quieres compartir?</label>
                </div>
                <div class="btn blue file-field input-field col s3 l2 offset-l2 margin-top-0">
                  <span><i class="material-icons ">camera_enhance</i></span>
                  <input type="file" id="file-photo">
                </div>
                <a  id="btn-publicar-home" class="waves-effect btn blue col s7 l6 offset-s1 offset-l1 disabled btn-style-principal width-btn">Publicar</a>
              </div>
              <div class="margin-top-5vh">
                <div class="row">
                  <div class="col s12">
                    <div id="card-box">
                      <!--Aquí irán las publicaciones-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../js/home.js"></script>
</html>
