<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Serendipia</title>
    <!--Añadiendo color a la barra de navegador que se verá desde versión movile-->
    <meta name="theme-color" content="#3eb060"/>
    <link rel="icon" type="image/png" href="../assets/images/infinity.png">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../css/main-1.css">
  </head>
  <!--Creando lista de frases-->
  <body class="vh100 background-cosmic">
    <div class="container-flex-column">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <ul id="tips">
              <li class="center-align font-white">«Limpia tu mente del "No puedo"».</li>
      	      <li class="center-align font-white">«Como tú, no hay nadie».</li>
      	      <li class="center-align font-white">«Nacimos para ser felices, no para ser perfectos».</li>
      	      <li class="center-align font-white">«Cuando cambias el chip de "Quiero estar flaco(a)" a "Quiero estar sano(a)". TODO FLUYE...»</li>
              <li class="center-align font-white">«Aceptarse a sí mismo es el comienzo de una aventura que dura toda la vida».</li>
              <li class="center-align font-white">«Necesito <s>estar más delgada(o)</s> amarme a mí misma(o)».</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/splash-frases.js"></script>
</html>
