<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Serendipia</title>
  <!--Añadiendo color a la barra de navegador que se verá desde versión mobile-->
  <meta name="theme-color" content="#3eb060"/>
  <link rel="icon" type="image/png" href="../assets/images/infinity.png">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main-2.css">
</head>
<body id="perfil" class="height grey lighten-5 background-cosmic">
  <!--ENCABEZADO-->
  <!--Header vista movile-->
  <header class="hide-on-med-and-up hide-on-med-only show-on-small show-on-medium">
    <nav class="navbar-fixed">
      <div class="nav-wrapper">
        <figure class="inline-block">
          <img class="responsive-img logo-header" src="../assets/images/seren.png" alt="Serendipia">
        </figure>
        <ul class="right">
          <li><a href="vistaPerfil.html"><i class="material-icons">account_circle</i></a></li>
          <li><a href="home.html"><i class="material-icons">home</i></a></li>
          <li><a href="#"><i class="material-icons">add_alert</i></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">more_vert</i></a></li>
        </ul>
      </div>
      <!--Lista desplegable para salir(cerrar sesión)-->
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="principal.html">Salir</a></li>
      </ul>
    </nav>
  </header>
  <!--header vista desktop-->
  <header class="show-on-large hide-on-small-only hide-on-med-and-down">
  <nav class="navbar-fixed nav-desktop">
    <div class="container-nav">
     <div class="row nav-wrapper">
       <div class="col l4 xl4">
         <a href=""><img src="../assets/images/seren.png" alt="logo" class="responsive-img logo-header"></a>
       </div>
       <div class="input-field col l4 xl4">
        <i class="material-icons prefix">search</i>
        <input class="input" id="search" type="text" class="validate" placeholder="   Buscar">
      </div>
    <ul class="right hide-on-med-and-down col l4 xl4">
      <li><a href="vistaPerfil.html"><i class="material-icons">account_circle</i></a></li>
      <li><a href="home.html"><i class="material-icons">home</i></a></li>
      <li><a href="#!"><i class="material-icons">notifications</i></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></li>
    </ul>
    <!--Lista desplegable para salir(cerrar sesión)-->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="principal.html">Salir</a></li>
    </ul>
     </div>
    </div>
  </nav>
</header>
<!--FIRST SECTION-->
<main class="section-first padding-top-section">
  <section>
    <div class="container 100%">
      <div class="row">
        <div class="col s12 container-perfil-portada">
          <a href="#" id="file-select" class="btn green lighten-2 absolute btn-style-principal"><i class="material-icons">camera_enhance</i></a>
          <img id="preview-img"src="https://img.kpopmap.com/2015/03/ohmygirlprofile.jpg" alt="" class=" height-portada  col s12 l12 z-depth-5">
          <form enctype="multipart/form-data">
            <input id="file-portada" name="file" type="file" class="hide"/>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row margin-btm-0">
        <div class="col s4 l3 offset-s1 offset-l1 container-perfil-portada">
          <a href="#" id="file-select-perfil" class="btn green lighten-2 button-save-photo btn-style-principal absolute"><i class="material-icons">camera_enhance</i></a>
          <div class="height-perfil z-depth-4"><img id="perfil-img" src="https://i.pinimg.com/736x/0c/db/4f/0cdb4fe1bb54b149248e85a28698b229--girl-pics-my-girl.jpg" alt="" class="responsive-img z-depth-4 circle-img"></div>
        </div>
        <form enctype="multipart/form-data" class="button-save-photo-input">
          <input id="file-perfil" name="file" type="file" class="hide"/>
        </form>
        <div class="font-white center-align col s6 m6 offset-s4 offset-m3 absolute">
          <h4 id="username-perfil"class="name-user"></h4>
          <h6 id="email-perfil"class="email"></h6>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul id="tabs-swipe-demo" class="tabs green lighten-1">
            <li class="tab col s3 xl4"><a class="active green-ul" href="#biography"><strong class="lg white-text">Biografía</strong></a></li>
            <li class="tab col s3 xl4"><a class= "green-ul" href="#photos"><strong class="lg white-text">Fotos</strong></a></li>
            <li class="tab col s3 xl4"><a class= "green-ul" href="#friends"><strong class="lg white-text">Amigos</strong></a></li>
          </ul>
          <div id="biography" class="col s12">
            <div class="container">
             <div class="row">
               <div class="col s12">
                 <form class="card">
                   <div class="card-content grey lighten-4">
                     <div class="input-field center-align">
                       <textarea id="textarea1" class="materialize-textarea"></textarea>
                       <label for="textarea1"><i class="material-icons left">account_circle</i>¿Qué quieres compartir?</label>
                       <a href="#" id="file-select-post-foto" class="btn green col s3 btn-style-principal"><i class="material-icons">camera_enhance</i></a>
                       <div enctype="multipart/form-data" class="col s1">
                         <input id="file-post-foto" name="file" type="file"/>
                       </div>
                       <a id="btn-publicar-perfil"class="waves-effect waves-light btn green disabled btn-style-principal"><i class="material-icons right">arrow_upward</i>Publicar</a>
                     </div>
                   </div>
                 </form>
               </div>
             </div>
            </div>
            <div class="container fotos">
              <div class="row">
               <div id="container-post" class="col s12">
                <!-- aqui van los post-->
               </div>
              </div>
            </div>
          </div>
          <div id="photos" class="col s12">
            <div class="container white gallery">
              <div class="row">
                <div class="col s12">
                  <a href="#" id="file-select-foto" class="btn green btn-subir-foto col s12 btn-style-principal"><i class="material-icons right">arrow_upward</i>Subir fotos</a>
                  <form enctype="multipart/form-data">
                    <input id="file-foto" name="file" type="file" class="hide"/>
                  </form>
                  <div class="col s12 grey lighten-3" id="fotos-container">
                    <!-- aqui van las fotos-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="friends" class="col s12">
            <div class="container">
              <div class="row">
                <div class="col s12 grey lighten-4">
                  <h4 class="center-align font-white green-text">Amigos</h4>
                  <ul class="collection">
                    <li class="collection-item avatar">
                      <img src="../assets/images/perfil.png" alt="" class=" responsive-img circle">
                      <span class="title">Renato Tapia</span>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                      <img src="../assets/images/perfil.png" alt="" class=" responsive-img circle">
                      <span class="title">Sofia Gabriela</span>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                      <img src="../assets/images/perfil.png" alt="" class=" responsive-img circle">
                      <span class="title">María Alejandra</span>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>
  </main>
  <!-- Vínculo de archivos js-->
  <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/vistaPerfil.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBVwTq6BZdhL7C5A2N1INmIdo5bhnr5vno",
    authDomain: "serendipia-af4b4.firebaseapp.com",
    databaseURL: "https://serendipia-af4b4.firebaseio.com",
    projectId: "serendipia-af4b4",
    storageBucket: "serendipia-af4b4.appspot.com",
    messagingSenderId: "1097799929522"
  };
  firebase.initializeApp(config);
  </script>
</body>
</html>
